<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Personel Listesi
                </h2>
            </div>
            
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">        
        <flexi-grid
        [data]="result().data"
        [total]="result().total"
        [dataBinding]="true"
        [height]="420"
        [pageSize]="state().pageSize"
        [pageable]="true"
        [loading]="loading()"
        [filterable]="true"
        [showIndex]="true"
        [sortable]="true"
        [showCaption]="true"
        [autoHeight]="true"
        captionTitle="Personel Listesi"
        [captionTemplate]="captionTemplate"
        (dataStateChange)="dataStateChange($event)"
        >
            <ng-template #captionTemplate>
                <button data-bs-toggle="modal" data-bs-target="#modal-simple" class="btn">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </ng-template>
            <flexi-grid-column field="id" title="Id"></flexi-grid-column>
            <flexi-grid-column field="firstName" title="First Name"></flexi-grid-column>
            <flexi-grid-column field="lastName" title="Last Name"></flexi-grid-column>
            <flexi-grid-column field="startingDate" format="dd.MM.yyyy" filterType="date" title="Starting Date"></flexi-grid-column>
        </flexi-grid>        
    </div>
</div>

<div class="modal modal-blur fade" id="modal-simple" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Personel</h5>
          <button type="button" class="btn-close" #addModalCloseBtn data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #addForm="ngForm" (ngSubmit)="create(addForm)">
            <div class="modal-body">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" [(ngModel)]="addModel().firstName" class="form-control" name="firstName">
                </div>
                <div class="form-group mt-1">
                    <label>Last Name</label>
                    <input type="text" [(ngModel)]="addModel().lastName" class="form-control" name="lastName">
                </div>
                <div class="form-group mt-1">
                    <label>Starting Date</label>
                    <input type="date" [(ngModel)]="addModel().startingDate" class="form-control" name="startingDate">
                </div>            
            </div>
            <div class="modal-footer">                
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>